extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	.seo-gen
		.container.mt-3
			.row
				.col
					h1 SEO GEN
					hr
			.row
				.col
					#genform
					//- .input-group.mb-3
						.input-group-prepend
							span#basic-addon1.input-group-text @
						input.form-control(type='text', placeholder='Username', aria-label='Username', aria-describedby='basic-addon1')
