extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	//- Bạn viết code vào đây nhớ là phải mở đầu bằng section ở mỗi khối
	section.home-scroll
		.container
			.row
				.col
					-for (x=1; x<10; x++)
						p kjhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạ jhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạjhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạjhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạjhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạjhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạjhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạjhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạjhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạjhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạjhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạjhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạ
			.row
				.col
					.item("data-count"="200" "data-from"="0")
					.item("data-count"="500" "data-from"="100") 
					.item("data-count"="1200" "data-from"="1000")
			.row
				.col
					-for (x=1; x<10; x++)
						p kjhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạ jhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạjhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạjhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạjhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạjhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạjhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạjhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạjhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạjhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạjhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạjhakj dkajdjkaghkjdhja dhjgahjjd ạdjhai hdhajkhdhajkhddk ahkhdjka dạ
