/////////////////////////////////
// Home
/////////////////////////////////
.home-scroll
    .main-border
        border-bottom: 1px solid #000
        border-top: 1px solid #000

        .item
            &.underline
                border-bottom: 1px solid #000
